/* ================= index.html ====================== */
@media (max-width:768px){
    header {
        height: 200px;
    }
    header > h1 {
        font-size: 1.5em;
        font-weight: 600;
        padding-bottom: 5px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.358);
    }
    header > p {
        /* display: none; */
        font-size: 0.7em;
        width: 300px;
        padding-bottom: 70px;
        text-shadow: 0.3px 0.3px 0px rgba(0, 0, 0, 0.358);
        font-weight: 500;
    }
    header > figure > img {
        width: 50px;
    }

    nav {
        padding: 2px;
        height: 32px;
        text-align: center;
    }
    nav > a {
        margin: 0 1.5px 0 1.5px;
        font-size: 0.75em;
        padding: 5px 10px;
        font-weight: 600;
    }
    nav > a:hover {
        background-color: #00264376;
        color: #ffc9af;
        margin: 0px 10px 0px 10px;
    }

    main {
        padding: 5px;
        
    }
    main > article > h1 {
        font-size: 1em;
        padding: 3px 0px 3px 15px;
        margin-top: 2px;
    }
    main > article > h2 {
        font-size: 0.9em;
        padding: 3px 0px 3px 15px;
        margin-top: 1px;
    }
    main > article > p {
        font-size: 0.85em;
        padding: 5px;
      }
    article > img, .foto01 {
      margin-bottom: 10px;
    }
    footer {
      height: 70px;
    }
    footer > p {
      font-size: 0.75em;
    }
    footer#rodape > img {
      width: 50px;
    }
  }

  @media (max-width:450px){
    header {
        height: 155px;
    }

    nav > a {
      font-size: 0.65em;
    }
    nav > a:hover {    
      margin: 0px 5px 0px 5px;
    }

    main {
        padding: 2.5px;
        
    }
    main > article > h1 {
        font-size: 1em;
        padding: 3px 0px 3px 15px;
        margin-top: 2px;
    }
    main > article > h2 {
        font-size: 0.9em;
        padding: 3px 0px 3px 15px;
      
    }
    main > article > p {
        font-size: 0.85em;
        padding: 5px;
      }
    article > img, .foto01 {
      margin-bottom: 15px;
    }
    footer {
      height: 50px;
    }
    footer > p {
      font-size: 0.6em;
    }
    footer#rodape > img {
      width: 5%;
    }
  }

/* ================= Fim ! ====================== */



/* ================= atendimento.html =========== */
@media (max-width:768px){
  #campo-formulario {
    height: 350px;
    font-size: 1em;
    border-radius: 15px;
  }
  #campo-formulario > button{
    width: 80%;
  }
  fieldset > .grupo-campo {
    margin-bottom: 20px;
  }
  fieldset > .grupo-campo > input, fieldset > .grupo-campo > select {
    height: 25px;
    min-width: 220px;
    width: 85%;
    margin: auto;
  }
  fieldset > .grupo-campo > label {
    margin-left: 10px;
  }
  .mapa-astral, .sol, .cartografia {
    height: 125px;
  }

}

/* ============================================== */